h1{
    color:aqua;
font-family:Oxygen, sans-serif ;

}

form label{
    font-style: Oxygen mono;
    color:white;
    font-weight: 400;
}

.form-group{
    margin-top:5px;
}

button {
    background-color: rgb(255,23,228);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-family: Oxygen mono;
    text-decoration: none;
  }
  
input{
    font-weight: 500;
}

button:hover{
    background-color: white;
    color: rgb(255,23,228);
}